<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Environment" value="QA" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add connectionString="Data Source=apollo;Initial Catalog=QAMomntz;User Id=momntz;Password=folsom_1;" name="sql" />
  </connectionStrings>
</configuration>