<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Environment" value="TEST" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add connectionString="Data Source=localhost;Initial Catalog=NewMomntz;User Id=momntz;Password=folsom_1;" name="sql" />
    <add connectionString="Data Source=localhost;Initial Catalog=NewMomntz.Queue;User Id=momntz;Password=folsom_1;" name="queue" />
  </connectionStrings>
</configuration>