<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Environment" value="PREVIEW" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add connectionString="Data Source=192.168.1.109;Initial Catalog=PreviewMomntz;User Id=momntz;Password=folsom_1;" name="sql" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>
